{% extends 'store/base.html' %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Lhynns Online Store</h1>
            <p class="lead fw-normal text-white-50 mb-0">You order. We deliver</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur enim diam, semper at dictum id, malesuada ut lacus. Morbi semper finibus neque, id porttitor lacus gravida vitae. Sed et lectus ac neque tempus sodales et ut metus. Duis justo erat, condimentum id tempus ut, placerat eget est. Donec sodales metus ac dapibus facilisis. Suspendisse vitae facilisis purus, vitae semper mi. Quisque auctor augue arcu, a aliquet odio ornare ultricies. Sed gravida ultrices orci eu hendrerit. Curabitur a ante a urna elementum lobortis. Morbi auctor varius metus, sed accumsan leo. Proin iaculis enim sed enim convallis venenatis. Morbi efficitur neque eu mi posuere ultrices. Fusce orci nisl, viverra nec ullamcorper a, fermentum ut diam. Maecenas ut lectus in risus vestibulum aliquet id non ipsum.
                    <br/><br/>
                    Aliquam et consectetur nisi, eget tempor mi. Integer tincidunt aliquet pellentesque. Curabitur eu fermentum libero, nec dictum nunc. Mauris porta lorem tristique risus tristique, at luctus purus tincidunt. Integer mollis volutpat vestibulum. Donec aliquet sodales quam. Nulla rutrum libero in arcu feugiat, nec cursus sem tempus. Ut vitae nisl massa. Pellentesque tristique sem aliquam metus volutpat, in maximus eros consequat. Sed pellentesque lectus a pulvinar feugiat.
                    <br/><br/>
                    Mauris mattis, diam ut tempor placerat, risus orci ultrices ligula, sed porta velit neque sed felis. Sed tempus quam et diam commodo, euismod vehicula libero faucibus. Integer tincidunt diam nibh, vitae malesuada nisl dignissim vitae. Integer eget mauris pretium sem molestie molestie ac non nisl. Aliquam eu nulla mi. Ut sit amet venenatis metus. Aliquam at sem euismod diam venenatis mollis sit amet id odio. Vivamus aliquet leo odio, non dapibus lorem sagittis sit amet. Mauris lobortis erat et nulla vulputate, sit amet tempus turpis dapibus. Etiam posuere posuere justo et pulvinar. Integer id mauris vel nulla maximus pulvinar. Suspendisse orci libero, bibendum eleifend finibus non, tempus vitae nisi.
                    <br/><br/>
                    Fusce sapien tortor, dictum sed nisl id, blandit ornare orci. Sed cursus laoreet mi tincidunt pulvinar. Maecenas vitae enim enim. Aliquam erat volutpat. Praesent porttitor enim porttitor ullamcorper elementum. Duis ante augue, accumsan eget turpis et, gravida suscipit purus. Suspendisse posuere erat et venenatis gravida. Cras id arcu rutrum, ornare lacus vel, congue arcu. Nulla et elit in urna posuere pellentesque quis in lorem. Proin sagittis, mi ut vehicula hendrerit, lorem lacus ultricies ipsum, consectetur tristique ligula mauris et felis. Morbi cursus ultrices purus. Suspendisse sagittis risus augue, aliquet hendrerit dolor cursus et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    <br/><br/>
                    Ut non lacus eu lacus interdum dapibus nec id tortor. Donec a dignissim mauris. Praesent a elementum nulla. Nullam non diam porta, pulvinar ipsum in, faucibus lorem. Nunc sed sem a turpis egestas malesuada. Sed sollicitudin, lacus eu lobortis cursus, urna turpis faucibus nunc, ut pretium elit odio quis sapien. Curabitur id libero ac diam maximus volutpat. Nulla dolor massa, malesuada nec viverra ut, vehicula a sapien. In eget risus tincidunt, dictum magna nec, dapibus massa. Donec dignissim sem vel accumsan efficitur. Cras ut arcu mattis, dignissim ex porta, viverra augue. Vivamus pretium faucibus ante, quis sodales massa facilisis sagittis. Pellentesque diam nisl, congue id pellentesque sit amet, viverra eu ligula.
                </p>   
                <br/><br/><br/> 
        </div>
        </center>
    </div>
</div>

{% endblock %}