{% extends 'store/base.html' %}

{% block content %}


<div class="container">
    <br/><br/><br/>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text justify-content-center">{{ product.description }}</p>
    
                
                {% if product.is_sale %}
                    <!-- Product price-->
                    <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; left: 0.5rem">Sale</div>
                    <strike>${{ product.price }}</strike> &nbsp;
                    ${{ product.sale_price }}
                    <br/><br/>
                {% else %}
                    <!-- Product price-->
                    ${{ product.price }}
                    <br/>ID: {{ product.id }}
                    <br/><br/>
                {% endif %}
                <br/><br/>
                <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                <button type="button" value="{{ product.id }}" id="add-cart" class="btn btn-secondary">Add to Cart</button>
              </center>
            </div>
          </div>
        </div>
      </div>
      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<script>
  //Check if button is click
  $(document).on('click','#add-cart', function(e){
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url 'cart_add' %}',
        data: {
          product_id: $('#add-cart').val(),
          csrfmiddlewaretoke: '{{ csrfp_token }}'

        }

    });
  })
</script>

{% endblock %}